-rotobuf==4.22.1
absl-py==1.4.0
alembic==1.10.2
appdirs==1.4.4
asttokens==2.2.1
astunparse==1.6.3
backcall==0.2.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.12.0
brotlipy==0.7.0
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.4
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
contourpy==1.0.7
cryptography==39.0.1
cycler==0.11.0
cython==0.29.33
daal4py==2023.0.2
dash-bootstrap-components==1.1.0
databricks-cli==0.16.2
debugpy==1.5.1
decorator==5.1.1
docker-pycreds==0.4.0
docker==5.0.3
entrypoints==0.4
executing==1.2.0
filelock==3.9.0
flask==2.2.3
flatbuffers==23.3.3
flit-core==3.8.0
fonttools==4.39.2
gast==0.4.0
gdown==4.6.6
gitdb==4.0.10
gitpython==3.1.31
google-auth-oauthlib==0.4.6
google-auth==2.16.2
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.51.3
h5py==3.8.0
huggingface-hub==0.10.1
idna==3.4
importlib-metadata==6.1.0
importlib-resources==5.12.0
ipykernel==6.15.0
ipython==8.11.0
itsdangerous==2.1.2
jax==0.4.6
jedi==0.18.2
jinja2==3.1.2
joblib==1.1.1
jupyter-client==8.1.0
jupyter-core==5.3.0
keras==2.12.0
kiwisolver==1.4.4
libclang==16.0.0
lightgbm==3.3.5
llvmlite==0.39.1
mako==1.2.4
markdown==3.4.3
markupsafe==2.1.1
matplotlib-inline==0.1.6
matplotlib==3.7.1
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mlflow==2.2.2
mpmath==1.2.1
nest-asyncio==1.5.6
networkx==2.8.4
nlpaug==1.1.11
nltk==3.8.1
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.3
parso==0.8.3
pathtools==0.1.2
pickleshare==0.7.5
pillow==9.4.0
pip==23.0.1
platformdirs==2.5.2
pooch==1.4.0
prometheus-flask-exporter==0.18.7
prompt-toolkit==3.0.38
protobuf==3.20.0
psutil==5.9.0
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.21
pygments==2.14.0
pyopenssl==23.0.0
pyparsing==3.0.9
pysocks==1.7.1
python-dateutil==2.8.2
pytorch-fid==0.3.0
pytz==2022.7.1
pywin32==227
pyyaml==6.0
pyzmq==23.2.0
querystring-parser==1.2.4
regex==2022.7.9
requests-oauthlib==1.3.1
requests==2.28.1
rsa==4.9
scikit-learn-intelex==20230228.214139
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
sentence-transformers==2.2.2
sentencepiece==0.1.97
sentry-sdk==1.17.0
setproctitle==1.3.2
setuptools==65.6.3
shap==0.41.0
six==1.16.0
slicer==0.0.7
smmap==5.0.0
soupsieve==2.4
sqlalchemy==2.0.7
sqlparse==0.4.2
stack-data==0.6.2
sympy==1.11.1
tabulate==0.9.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboard==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow==2.12.0
termcolor==2.2.0
threadpoolctl==2.2.0
tokenizers==0.11.4
torch==2.0.0
torchaudio==2.0.0
torchvision==0.15.0
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
transformers==4.24.0
typing-extensions==4.4.0
urllib3==1.26.14
waitress==2.0.0
wandb==0.14.0
wcwidth==0.2.6
websocket-client==1.5.1
werkzeug==2.2.3
wheel==0.38.4
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.14.1
zipp==3.15.0